#.gitignore

#ignore dependencies
.venv/

#ignore cache
__pycache__/

#ignore .json
# *.json
.vscode/launch.json

#ignore dist
dist/
*.whl
*.gz

#ignore .vscode
.vscode/

#ignore fixtures
.tests/fixtures/
.pytest_cache

#my_test
MMM.py
var_generate_diff.py

# *.egg-info
# __pycache__
# dist/
# *.pyc
# .venv/
# .coverage
# coverage.xml
# .pytest_cache/
# .vim